<ul class="nav" role="menu" style="font-size:12px; font-family:'MaplestoryOTFBold';">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-Career" role="menuitem"><a href="{{site.baseurl}}about/">Career details</a></li>
    <li class="nav-korea" role="menuitem"><a href="{{site.baseurl}}tag/korea-project/">Korea-Project</a></li>
    <li class="nav-japan" role="menuitem"><a href="{{site.baseurl}}tag/japan-project/">Japan-Project</a></li>
    <li class="nav-anglosphere" role="menuitem"><a href="{{site.baseurl}}tag/anglosphere-project/">Anglosphere-Project</a></li>
    <li class="nav-study" role="menuitem"><a href="{{site.baseurl}}tag/study-project/">Study-Project</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="/archive.html">All Posts</a></li>
</ul>
